<h4>Title:<%= @book.title %></h4>


<h4>Body:<%= @book.body %></h4>

<span class="edit-blank">
  <%= link_to 'Edit', edit_path(book.id) %>
</span>
<span>|</span>
<span>
  <%= link_to 'Back', "/books" %>
</span>