<p class="show"><strong>Title:</strong><%= @book.title %></p>


<p class="show"><strong>Body:</strong><%= @book.body %></p>

<span class="edit-blank">
  <%= link_to 'Edit', edit_book_path(@book.id) %>
</span>
<span>|</span>
<span>
  <%= link_to 'Back', "/books" %>
</span>