/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* success messages */
.text-success {
    color: #008000;
}

/* top */
.start-link {
    padding-left: 30px;
}

/* index */
h1 {
    padding-bottom: 15px;
}

a {
    color: #000;
}

a:hover {
    color: #fff;
    background-color: #000;
}

a:visited {
    color: #666;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.index-title {
    width: 100px;
    padding-left: 80px;
}

.index-body {
    padding-left: 50px;
}

th {
    padding-bottom: 5px;
}

td {
    line-height: inherit;
    padding-right: 5px;
}

.index-title-text {
    word-break: break-all;
}

.index-body-text {
    padding-left: 40px;
    word-break: break-all;
    width: 300px;
}

/* new */
h2 {
    margin-top: 15px;
}

.index-box {
    margin-top: 20px;
    font-family: serif;
}

.box {
  margin: 15px 0;
}

/* show */
.show {
    margin: 5px 0 30px 45px ;
    font-size: 13px;
}

/* edit */
.edit-box {
    margin-top: 15px;
    font-family: serif;
}